html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  width: 860px;
  margin: 0px auto;
/*  margin-top: 56px;*/
  font-size: 20px;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
}

.main-content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  padding: 8px 0px;
  font-size: 14px;
}

.main-content a, a:hover, a:visited {
  text-decoration: none;
  color: blue;
}

.name {
  color: red;
}


.wave {
  font-size: 48px;
  margin-bottom: 0px;
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}


@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
