body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

body {
  display: flex;
  flex-direction: column;
  width: 860px;
  margin: 0px auto;
/*  margin-top: 56px;*/
  font-size: 18px;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
}

.technologies {
  /*padding-bottom: 0px;*/
  /*margin-bottom: 0px;*/
  font-size: 16px;
  line-height: .4;
}

.main-content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  padding: 8px 0px;
  font-size: 14px;
}

.main-content a, a:hover, a:visited {
  text-decoration: none;
  color: blue;
}

.name {
  color: #f05945;
}

.project-heading:link, .project-heading:visited, .project-heading:hover {
  text-decoration: none;
  color: #1597bb;
  font-weight: 400;
}

.project-description {
  line-height: .7rem;
}


.wave {
  font-size: 48px;
  margin-bottom: 0px;
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 4s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 50% 80%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

.project-header {
  /*text-decoration: underline;*/
  /*color: #1597bb;*/
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  line-height: 1.4rem;
}


@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(6.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-6.0deg) }
   30% { transform: rotate(2.0deg) }
   40% { transform: rotate(-2.0deg) }
   50% { transform: rotate(4.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
