html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  /* mobile viewport bug fix */
  min-height: 100%;
  /*width: 800px;*/
  /*margin: 0px auto;*/
  font-size: 1.05rem;
/*  font-family: 'roboto', sans-serif;*/
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  color: #2B2928;
}

.technologies {
  /*padding-bottom: 0px;*/
  /*margin-bottom: 0px;*/
  font-size: 1rem;
  line-height: .4;
}

.main-content {
  flex: 1 0 auto;
}

footer {
  /*flex-shrink: 0;*/
  text-align: center;
  padding: 8px 0px;
  font-size: .9rem;
  margin-top: auto;
}

.main-content a, a:hover, a:visited {
  text-decoration: none;
  color: blue;
}

.name {
  color: #f05945;
}

.project-heading:link, .project-heading:visited, .project-heading:hover {
  text-decoration: none;
  color: #1597bb;
  font-weight: 500;
}

.website-link:link, .website-link:visited, .website-link:hover {
  text-decoration: none;
  color: grey;
  font-weight: 400;
  padding: 0px 4px;
}

.project-description {
  margin: 0;
  padding: 0;
}


.wave {
  font-size: 3rem;
  margin-bottom: 0px;
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 4s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 50% 80%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

.underline {
   text-decoration: underline;
}

.project-header {
  /*text-decoration: underline;*/
  /*color: #1597bb;*/
}

ul.collaborators {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.collaborators {
  line-height: 1.4rem;
}


@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(6.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-6.0deg) }
   30% { transform: rotate(2.0deg) }
   40% { transform: rotate(-2.0deg) }
   50% { transform: rotate(4.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}


.stack-logo {
  padding: 0px 2px;
  width: 45px;
  height: 45px;
  /*background: linear-gradient( rgba(60, 60, 60, 0.1), rgba(60, 60, 60, 0.1) ), url("https://images.unsplash.com/photo-1558979159-2b18a4070a87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2551&q=80");*/
}
